<h2>Товари</h2>
<div class="flex-container">
  <% @products.each do |product| %>
    <div class="product-card">
      <h2><%= product.name %></h2>
      <p><%= product.description %></p>
      <p>Price: <%= product.price %></p>
      <p>Weight: <%= product.weight %></p>
      <p><%= link_to 'Show details', product %></p>
    </div>
  <% end %>
</div>